
[parameter]

#input_dir =  /clusterfs/bear/vrtribal/dassa_decimation_tests/tdms_files/
input_dir = /Users/dbin/work/arrayudf-git-svn-test-on-bitbucket/examples/das/tdms-dir
input_file_type = EP_TDMS
is_input_search_rgx = true
input_search_rgx = (.*?)[1](\.tdms)

chs_per_file = 11648
lts_per_file = 30000
time_decimate_files = 1

is_channel_range = true
channel_range_start = 0
channel_range_end = 1


is_output_single_file = true
output_type = EP_HDF5
output_file_dir = ./tdms-dir-dec/tdms-dir-matlab-test-ft.h5
output_dataset = /dat

is_dir_output_match_replace_rgx = false
output_file_regex_match = ^(.*)\\.tdms$
output_file_regex_replace = $1.h5

is_space_decimate = true
space_decimate_rows = 32
space_decimate_operation = mean ; //"ave", "min", "max"

dt = 0.002
dt_new = 0.008
