[parameter]

#####################
# Note: 
#  1, each file starts with a'[parameter]'
#  2, each line below is a name-value pair (w/ = symbol) for parameter  
#  3, each line starting with # is a comment line which will be ignored  
#  4, the part within a line that start with ";" is also comment which will be ignored  
#####################


########
#Input parameters
######

#path for the directory containing all XCORR files
#It's better to have full path
#xcorr_input_dir = /clusterfs/bear/BinDong_DAS_Data/xcorr_examples_h5
xcorr_input_dir = /Users/dbin/work/arrayudf-git-svn-test-on-bitbucket/examples/das/stacking_files/xcorr_examples_h5

xcorr_input_dataset_name = /xcoor ; dataset name within all XCORR files

    # false or 0,  true/1 (by default 0) 
is_file_range = true 
   #Note: zero based
file_range_start_index = 0
   #Note: inclusive
file_range_end_index = 4
    # false or 0 (by default),  true/1  
is_delete_median = true 

  #true or 1,  false (0) (by default)
is_ml_weight = true 
 #true or 1 (by default), false (0)
is_ml_weight_ordered = true 
ml_weight_file = stack_ml_wight_sorted_chronologically.txt

### remove the n_weighted_to_stack
## use the is_file_range
##n_weighted_to_stack = -1 ; -1 means all files, 1 2 ...
###
########


#runtime parameters
######

t_start = -59.9920000000000 
t_end = 59.9920000000000
sample_rate = 0.00800000000000000
sub_start_t = -59
sub_end_t = 59
CausalityFlagging_tmin = 0.05
CausalityFlagging_tmax = 3.0
CausalityFlagging_fmax = 10
CausalityFlagging_ButterLow_order = 3
CausalityFlagging_ButterLow_fcf = 0.16
dsiStackFileSet_versatile_pow_u = 0.3
is_flipud = true ; true or false

########
#output parameters
###### 


stack_output_dir = .  ; directory to contain output files 

#below five are names of output (HDF5) files
stack_output_file_data_in_sum = xcorr_examples_h5_stack_data_in_sum.h5
stack_output_file_final_pwstack = xcorr_examples_h5_stack_final_pwstack.h5
stack_output_file_phaseWeight = xcorr_examples_h5_stack_phaseWeight.h5
stack_output_file_semblanceWeight = xcorr_examples_h5_stack_semblanceWeight.h5
stack_output_file_semblance_denom_sum = xcorr_examples_h5_stack_semblance_denom_sum.h5

stack_output_file_dataset_name = /data ; dataset name for all output files
