[parameter]

#comment: path for the directory containing all XCORR files
#         better to have full path
xcorr_input_dir = /Users/dbin/work/arrayudf-git-svn-test-on-bitbucket/examples/das/stacking_files/xcorr_examples_h5

#dataset name within all XCORR files
xcorr_input_dataset_name = /xcoor


#parameters used within the code
t_start = -59.9920000000000
t_end = 59.9920000000000
sample_rate = 0.00800000000000000
sub_start_t = -59
sub_end_t = 59
CausalityFlagging_tmin = 0.05
CausalityFlagging_tmax = 3.0
CausalityFlagging_fmax = 10
CausalityFlagging_ButterLow_order = 3
CausalityFlagging_ButterLow_fcf = 0.16
dsiStackFileSet_versatile_pow_u = 0.3


#directory to contain output files 
stack_output_dir = "./"

#name of each output files
stack_output_file_data_in_sum_name = xcorr_examples_h5_stack_data_in_sum.h5
stack_output_file_final_pwstack = xcorr_examples_h5_stack_final_pwstack.h5
stack_output_file_phaseWeight = xcorr_examples_h5_stack_phaseWeight.h5
stack_output_file_semblanceWeight = xcorr_examples_h5_stack_semblanceWeight.h5
stack_output_file_semblance_denom_sum = xcorr_examples_h5_stack_semblance_denom_sum.h5

#dataset name for all output files
stack_output_file_dataset_name = /data